html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;

}

header {
	height: 70px;
}
.header {
    width: 100%;
    /* 昼用のheader-color*/
  	background: -moz-linear-gradient(top, #FFC778, 	#FFD800);
  	background: -webkit-linear-gradient(top, #FFC778, 	#FFD800);
  	background: linear-gradient(to bottom, #FFC778, 	#FFD800);
    padding-top: 10px;
    box-sizing: border-box;
	height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}
.cust__wrapper {
    display: flex;
    position: absolute;
    right: 0%;
    height: 0;
}
li {
    list-style: none;
}
.header-logo a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
    font-weight: bold;
    font-size: 30px;
}
.cust__wrapper a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}